[submodule "efoy/core"]
	path = efoy/core
	url = https://github.com/dekoch/CloudlessHomeAutomation-core.git
[submodule "switch/core"]
	path = switch/core
	url = https://github.com/dekoch/CloudlessHomeAutomation-core.git
[submodule "rootNode/core"]
	path = rootNode/core
	url = https://github.com/dekoch/CloudlessHomeAutomation-core.git
